body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
    background:#eef;
}

.login{
    width:250px;
    padding:20px;
    background:white;
    border-radius:8px;
    box-shadow:0 0 10px gray;
    text-align:center;
}

input{
    width:100%;
    padding:8px;
}

input:focus{
    outline:2px solid #4a90e2;
}

button{
    width:100%;
    padding:8px;
    border:none;
    background:#4a90e2;
    color:white;
}

button:hover{
    background:#2c5aa0;
}