body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
    background:#eef;
}

.card{
    width:250px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    text-align:center;
}

button{
    padding:8px 12px;
    border:none;
    background:#4a90e2;
    color:white;
    border-radius:5px;
}

button:hover{
    background:#2c5aa0;
}